<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link " href="#">
           <i class="fa-solid fa-graduation-cap"></i>
            <span>Etudiant</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fa-solid fa-book"></i>
            <span>Cours</span>
        </a>
        </li>
         <li class="nav-item">


        <a class="nav-link " href="#">
          <i class="fa-solid fa-users"></i>
            <span>Enseignant</span>
        </a>
        </li>
    </aside>